
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'movie/style.css' %}" />
<nav class="navbar navbar-default">
	<div class="container-fluid">
	<div class="navbar-header">
	<a class="navbar-brand" href="[% url templates 'movie:index' %]">TeamLabs</a>
	</div>
	</div>
</nav>

{{movie.id}}<br>
{{movie.name}}<br>
{{movie.actor}}<br>
{{movie.actress}}<br>


<!---- This is for showing the name of song for the movie ---->
<ul>
	{% for a in movie.song_set.all %}
	
	<li> {{a.song_title}}</li>

	{% endfor %}
</ul>
