<!--- this is movie---- template ------ movie ----- index.html file ----->

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'movie/style.css' %}" />
<nav class="navbar navbar-default">
	<div class="container-fluid">
	<div class="navbar-header">
	<a class="navbar-brand" href="[% url templates 'movie:index' %]">TeamLabs</a>
	</div>
	</div>
</nav>

<ul>
	{% for movie in all_movies %}
	<li><h1> <a style="color:black" href="{% url 'movie:detail' movie.id %}"> {{movie.name}} </a></h1></li>
	{% endfor %}
</ul>
