<!--- this is movie---- template ------ movie ----- index.html file ----->

<!--- this is movie---- template ------ movie ----- index.html file ----->

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'movie/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	<!-----header---->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'movie:index' %}">TeamLabs</a>
	</div>
	<!----items--->
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="">
				<a href="{% url 'movie:index' %}">
					<span class= aria-hidden="true"></span>&nbsp; Movies
				</a>
			</li>
			<li class="">
				<a href="{% url 'movie:index' %}">
					<span class= aria-hidden="true"></span>&nbsp; Songs
				</a>
			</li>
		</ul>
	</div>
</nav>

<ul>
	{% for movie in all_movies %}
	<li><h1> <a style="color:green" href="{% url 'movie:detail' movie.id %}"> {{movie.name}} </a></h1></li>
	{% endfor %}
</ul>
